<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
<!--     <link rel="stylesheet" type="text/css" href="/assets/main.css"> -->
    <link rel="stylesheet" type="text/css" href="http://localhost:9000/main.css">
  </head>
  <body>
  	<header id="js-header">
      <span class="back">Back</span>
      <h1><%= title %></h1>
      <span class="home">Home</span>
    </header>
    <div class="main" id="main"><%- body %></div>
    <footer></footer>
    <% if (data) {%>
    <script type="text/javascript">
      (function (window) {
        window.initialData = {};
        <% if (data && data.key !== 'NONE') {%>
        window.initialData['<%= data.key %>'] = (<%- data.content %>);
        <%}%>
      })(window);
    </script>
    <%}%>
    <!-- <script type="text/javascript" src="/assets/bundle.js"></script> -->
    <script type="text/javascript" src="http://localhost:9000/bundle.js"></script>
  </body>
</html>